SERVER_NAME=My Valheim Server
SERVER_WORLD=Dedicated
SERVER_PASSWORD=replace-with-at-least-five-characters
SERVER_PORT=2456
SERVER_QUERY_PORT=2457
SERVER_EXTRA_PORT=2458
SERVER_PUBLIC=1
SERVER_CROSSPLAY=false
VSM_HTTP_PORT=8080
VSM_PUBLIC_URL=http://SERVER_IP:8080
VSM_UPDATE_ON_START=true
