**/bin/
**/obj/
**/node_modules/
**/dist/
*.tsbuildinfo
web/vite.config.js
web/vite.config.d.ts
.idea/
.DS_Store
.env
/data/
artifacts/
.bepinex/
.bepinex.zip
.release/
.steamcmd/
.tcli/
.valheim/
build/
release/
thunderstore/icon.png
*.user
*.suo
