**/bin/
**/obj/
**/node_modules/
**/dist/
*.tsbuildinfo
web/vite.config.js
web/vite.config.d.ts
.idea/
.DS_Store
.env
/data/
artifacts/
!plugins/artifacts/
plugins/artifacts/*
!plugins/artifacts/README.md
!plugins/artifacts/XomNghien-ServerModBootstrap-2.2.0.zip
.bepinex/
.bepinex.zip
.release/
.steamcmd/
.tcli/
.valheim/
build/
thunderstore/icon.png
*.user
*.suo
